---
 const personalImageAlt = "Juan Pablo"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
  <p>
    Me llamo Juan Pablo Sanmiguel Galeano. Estudio <strong>Negocios Internacionales</strong> en la <strong>Universidad del Rosario</strong>, Bogotá, Colombia. Actualmente estoy <strong>buscando oportunidades de empleo</strong> para aplicar mis conocimientos y habilidades.
  </p>
  
  <p>
    Algunos de mis logros incluyen <strong>analizar y mejorar los resultados financieros en simuladores empresariales</strong>. Mi capacidad para adaptarme a situaciones cambiantes y ajustar estrategias ha sido clave en estos proyectos.
  </p>
  
  <p>
    Como parte de mi formación, he trabajado en proyectos de triple impacto, incluyendo <strong>colaboraciones con comunidades indígenas Wayúu para desarrollar modelos de negocio sostenibles</strong>. Mi objetivo es contribuir al desarrollo empresarial con un enfoque sostenible y socialmente responsable.
  </p>
  
  </div>

  <img width="200" height="200" src="https://media.licdn.com/dms/image/D4E03AQEpqnRU-QxTJA/profile-displayphoto-shrink_800_800/0/1712600357097?e=1721865600&v=beta&t=lGcOBBjyVjc5WHSo2VmM5OjE8LCnoXTDsAxp4h8Y_GQ" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>