---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE =[
    {
        date: 'Marzo 2024',
        title: 'RETO COMPANYGAME 2024: XII DESAFÍO INTERNACIONAL EN SIMULACIÓN DE NEGOCIOS',
        company: "COMPANYGAME",
        description: 'Durante el proceso de simulación, es crucial realizar un análisis financiero y de los resultados de la empresa en cada período para identificar áreas de mejora y oportunidades de crecimiento. Es fundamental adaptarse a las situaciones cambiantes en el simulador y ajustar la estrategia según sea necesario. Además, mantener una comunicación clara y efectiva con los miembros del equipo es esencial para asegurar que todos estén informados y alineados con los objetivos establecidos.',
        link: "https://www.retocompanygame.com/"
      },
    {
        date: 'Diciembre 2022',
        title: 'Mentor Junior',
        company: "COIMPACTO B",
        description: 'Para lograr una interacción efectiva con las comunidades indígenas Wayú de La Guajira, es fundamental comunicarse asertivamente. Esto implica apoyar la creación de un modelo de negocio sostenible con objetivos de triple impacto y transmitir conocimientos sobre la formulación y estructuración de empresas con soluciones sostenibles. La comunicación asertiva permite establecer relaciones sólidas y constructivas, facilitando así el desarrollo de proyectos que beneficien tanto a las comunidades como al medio ambiente.'
    }

]
---
<ol class="relative mt-16">
    {
      EXPERIENCIE.map((experiencie) => (
        <li class="">
          <ExperienceItem {...experiencie} />
        </li>
      ))
    }
  </ol>

